# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

# Build
build/
DerivedData/
*.o
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
*.resolved

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# User settings
xcuserdata/
*.xcscmblueprint
*.xccheckout

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Environment
.env
.env.local

# Misc
*.swp
*.swo
*~

# Cursor
.cursor/
.cursorignore

# Claude
.claude/
.claudeignore
CLAUDE.md

AGENTS.md
