<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_meshchat._tcp</string>
		<string>_meshchat._udp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Приложение использует локальную сеть для поиска и подключения к людям рядом через Bluetooth и Wi-Fi.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Приложение использует Bluetooth для поиска и подключения к людям рядом.</string>
</dict>
</plist>
